<div class="main-container">
  <div>
    <input type="number" [(ngModel)]="inputNumber">
    <button (click)="onSubmit()">Submit</button>
  </div>
  <div class="table">
    <div *ngIf="tableData.size>0">
      <table [border]="1">
        <thead>
          <th>
          </th>
          <th *ngFor="let d of index;let i=index">
            {{i+1}}
          </th>
          <th>sum</th>
          <th>average</th>
        </thead>
        <tbody>
          <tr *ngFor="let d of index;let i=index">
            <td>{{i+1}}</td>
            <!-- getting the table index values from the map -->
            <td *ngFor="let val of tableData.get(i+1)">
              {{val}}
            </td>
             <!-- getting the sum from sum array -->
            <td>
              {{sum[i]}}
            </td>
            <!-- getting the average from average array -->
            <td>
              {{average[i]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>